

<!DOCTYPE html>
<html>
<head>
	<title>sdfsdf
	</title>

	<style TYPE="text/css">
	   body{
	   	 padding-left: 30px;
	   }
       #left h2 {
               padding-left:50px;  
                
             }
        h1{
        	font-size: 50px; 
        	text-align: center;
        	padding-top:40px;
        }
        img{
        	border-radius: 150px;
        }
        .uppercase{

        }
        </style>
</head>



<body>
   <div style="width:100%;float:center;">
   <h1>My Business Card</h1>
   </div> 
   <div style="width:40%;float:left" id="left">
   	
   	<img src= "{{picture}}" style="width:300px;height:300px;"></img>
   	<h2>{{name}}</h2>
   	<h2>{{title}}</h2>
   </div>
   <div style="width:40%;float:left">
   <img src= "{{logo}}" style="width:300px;height:300px;"></img>
   	<h3>Phone:{{phone}}</h3>
   	<h3>Email:{{email}}</h3>
   	<h3>Fax:{{fax}}</h3>
   	<h3>Address:{{address}}</h3>
   	<h3>Website:{{website}}</h3>
	<h3>Company:{{company}}</h3>


   	
   </div>

</body>
</html>
